<div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Edit Care Manager</h4>
            </div>
          </div>
          <div class="iq-card-body">
            <div class="new-user-info">
              <form [formGroup]="myForm" novalidate>
                
                <!-- <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div> -->
                <!-- <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </label> -->

                <!-- <div class="custom-control custom-switch custom-switch-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input bg-success" id="customSwitch02" checked="">
                  <label class="custom-control-label" for="customSwitch02">Success</label>
                </div> -->

                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="firstName">First Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      placeholder="First Name"
                      formControlName="firstName"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.firstName.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.firstName.errors">
                      {{ getErrorMessage('firstName') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName">Last Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      placeholder="Last Name"
                      formControlName="lastName"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.lastName.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.lastName.errors">
                      {{ getErrorMessage('lastName') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Gender <span class="text-danger">*</span></label>
                    <select
                      class="form-control"
                      id="gender"
                      formControlName="gender"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.gender.errors }"
                    >
                      <option value="" disabled>Select Gender</option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myFormData.gender.errors">
                      {{ getErrorMessage('gender') }}
                    </div>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label class="control-label">Birth Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="dob"
                    [class.is-invalid]="isSubmitted && myFormData.dob.errors" />
                    <div class="invalid-feedback">
                        {{ getErrorMessage('dob') }}
                    </div>
                  </div>
  
                  <div class="form-group col-md-6">
                    <label for="contactNumber">Contact Number <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="contactNumber"
                      placeholder="Contact Number"
                      formControlName="contactNumber"
                      [pattern]="mobNumberPattern"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.contactNumber.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.contactNumber.errors">
                      {{ getErrorMessage('contactNumber') }}
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="email">Email Id <span class="text-danger">*</span></label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email Id"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.email.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.email.errors">
                      {{ getErrorMessage('email') }}
                    </div>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label class="control-label">Address Line 1 <span class="text-danger">*</span></label>
                    <textarea class="form-control" rows="3" formControlName="street1"
                    [class.is-invalid]="isSubmitted && myFormData.street1.errors"></textarea>
                    <div class="invalid-feedback">
                        {{ getErrorMessage('street1') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">Address Line 2</label>
                    <textarea class="form-control" rows="3" formControlName="street2"
                    [class.is-invalid]="isSubmitted && myFormData.street2.errors"></textarea>
                    <div class="invalid-feedback">
                        {{ getErrorMessage('street2') }}
                    </div>
                  </div>
  
                  <div class="form-group col-md-6">
                    <label for="city">City <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      placeholder="City"
                      formControlName="city"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.city.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.city.errors">
                      {{ getErrorMessage('city') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="state">State <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="state"
                      placeholder="State"
                      formControlName="state"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.state.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.state.errors">
                      {{ getErrorMessage('state') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="country">Country <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="country"
                      placeholder="Country"
                      formControlName="country"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.country.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.country.errors">
                      {{ getErrorMessage('country') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="postalCode">Pin Code <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="postalCode"
                      placeholder="Pin Code"
                      formControlName="postalCode"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.postalCode.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.postalCode.errors">
                      {{ getErrorMessage('postalCode') }}
                    </div>
                  </div>
                </div>
              
              <h4 class="mb-4 mt-4">Work Experience and Specialization:</h4>
  
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Category <span class="text-danger">*</span></label>
                    <select class="form-control" id="category" 
                      formControlName="category" 
                      (change)="getSubCategory(myFormData.category)"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.category.errors }"
                      >
                        <option value="" disabled>Select Category</option>
                        <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                    </select>
  
  
                    <div class="invalid-feedback" *ngIf="myFormData.category.errors">
                      {{ getErrorMessage('category') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Sub-Category <span class="text-danger">*</span></label>
                    <select class="form-control" id="subcategory" 
                      formControlName="subcategory"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.subcategory.errors }">
                      <option value="" disabled>Select Sub-Category</option>
                      <option *ngFor="let subCategory of subCategories" [value]="subCategory.name">{{subCategory.name}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myFormData.subcategory.errors">
                      {{ getErrorMessage('subcategory') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Work Experience </label>
                    <select
                      class="form-control"
                      id="workexperience"
                      formControlName="workexperience"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.workexperience.errors }"
                    >
                      <option value="">Select Experience</option>
                      <option value="5">5 years</option>
                      <option value="10">10 years</option>
                      <option value="15">15 years</option>
                      <option value="20">20 years</option>
                      <option value="25">25 years</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myFormData.workexperience.errors">
                      {{ getErrorMessage('workexperience') }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="skillset">Skillsets </label>
                    <input
                      type="text"
                      class="form-control"
                      id="skillset"
                      placeholder="Skillsets"
                      formControlName="skillset"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.skillset.errors }"
                    />
                    <div class="invalid-feedback" *ngIf="myFormData.skillset.errors">
                      {{ getErrorMessage('skillset') }}
                    </div>
                  </div>
  
                  <div class="form-group col-md-6">
                    <label>Account Status <span class="text-danger">*</span></label>
                    <select
                      class="form-control"
                      id="accountStatus"
                      formControlName="accountStatus"
                      [ngClass]="{ 'is-invalid': isSubmitted && myFormData.accountStatus.errors }"
                    >
                      <option value="ACTIVE">ACTIVE</option>
                      <option value="DEACTIVE">DEACTIVE</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myFormData.accountStatus.errors">
                      {{ getErrorMessage('accountStatus') }}
                    </div>
                  </div>


                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary float-right" (click)="submitForm()" >Save</button>
                    <button type="button" routerLink="/admin/caremanagers" class="btn btn-light float-right mr-3" >Cancel</button>
                  </div>
                </div>
  
              </form>
  
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  