<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12 col-lg-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Change Password</h4>
                </div>
             </div>
             <div class="iq-card-body">
                <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="row" >
                     <div class="col-sm-6">
                        <!-- <div class="col-md-6 p-0"> -->
                            <div class="row">                           
                                <div class="form-group col-md-12">
                                    <label class="control-label">Enter New Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" formControlName="password"
                                    [class.is-invalid]="isSubmitted && myFormData.password.errors" />
                                    <div class="invalid-feedback" >
                                        {{ getErrorMessage('password') }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Confirm Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                    [class.is-invalid]="isSubmitted && myFormData.confirmPassword.errors" />
                                    <div class="invalid-feedback" >
                                        {{ getErrorMessage('confirmPassword') }}
                                    </div>
                                </div>
                            </div>
                            
                            <button class="btn btn-light float-right" routerLink="/admin/dashboard">Cancel</button>
                            <button type="submit" class="btn btn-primary mr-2 float-right" >Save</button>
                        <!-- </div> -->
                      </div>
                   </div>
                </form>
            </div>
          </div>
       </div>
    </div>
  </div>